.homePage-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    color: var(--primaryColor);
    
    
    .main-profile {
        height: 90%;
        width: 90%;
        display: flex;
        justify-content: flex-start;
        background-color: var(--primaryBackgroundColor);
        border-radius: 8px;
        box-shadow: var(--primaryBoxShadow);
        
      
      .main-profile-wrap {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            gap: 1em;
            padding: 1.5em;
            box-sizing: border-box;

        .main-profile-name {
            display: flex;
            align-items: center;
            gap: 0.5em;

          img {
            border-radius: 50%;
            height: 64px;
            width: 63px;
          }

          span {
            font-weight: bold;
          }
        }
  
        .dog-main-img {
            padding: 1em;
            box-sizing: border-box;
            box-shadow: var(--primaryBoxShadow);
            background-color: var(--secondaryBackgroundColor);
            border-radius: 8px;
          img {
            width: 100%;

          }
        }
  
        .profile-descrption {
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            gap: 0.5em;

            .descrption-list{
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                justify-content: center;
                gap: 6px;
                flex-wrap: wrap;
                width: 100%;
                justify-content: flex-start;
            }

                .profile-descrption-header{
                display: flex;
                align-items: center;
                gap: 1em;
                h3{
                    margin: 0;
                }
                }

                .infoContainer , .hobbies{
                    padding: 0.2em 1em;
                    background-color: rgb(244, 200, 255);
                    border-radius: 2em;
                    color: var(--primaryColor);
                    display: flex;

                }
        }
  
      }
    }

    .handleLikesContainer{
      margin-top: 30px;
      display: flex;
      justify-content: space-between;
      width: 100%;
      button{
        width: 40%;
        white-space: balance;
        align-self: flex-start;
        background-color: var(--secondaryColor);
        color: white;
        border: none;
        padding: 0.4em 0em;
        border-radius: 5px;
        cursor: pointer;
  
        &:hover{
          box-shadow: var(--secondaryBoxShadow);
          box-shadow: 1px 1px 2px ;
        }
      }
    }
  }
  