:root {
  --primaryColor: rgb(138, 45, 59);
  --secondaryColor: rgb(190, 91, 80);
  --primaryFontSize: 18px;
  --secondaryFontSize: 16px;
  --PrimaryFontHeadSize: 22px;
  --primaryBackgroundColor: #fbdb93;
  --secondaryBackgroundColor: rgba(100, 27, 46, 0.267);
  --primaryBoxShadow: 0 4px 10px rgba(100, 27, 46, 0.27);
  --secondaryBoxShadow: 10px 4px 10px rgba(253, 244, 244, 0.27);
  --errorHandlingColor: #f79494;
}

:root {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: var(--primaryBackgroundColor);
}

body {
  margin: 0;
}

button{
  cursor: pointer;

  &:hover{
    border: none;
    box-shadow: none;
    outline: none;
    background-color: none;
    color: none;
    transform: none;
    filter: none;
  }
}

/* Mobile spacing and height adjustments */
@media (max-width: 600px) {
  :root{
    --primaryFontSize: 16px;
    --secondaryFontSize: 14px;
    --PrimaryFontHeadSize: 20px;
  }

  html, body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
}
a {
  text-decoration: none;
}
