.webWrraper {
  background-color: var(--primaryBackgroundColor);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.webWrraper-routes {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  align-items: center;
  display: flex;
  justify-content: center;
  -webkit-overflow-scrolling: touch;
}

@media (max-width: 600px) {
  .webWrraper {
    height: 86vh; 
    overflow: hidden;
  }

  .webWrraper-routes {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    -webkit-overflow-scrolling: touch;
  }
}
